.form {
  position: 'relative';
  padding: 20px;
}

.form:last-child {
  margin-bottom: 0
}

.section {
  display: flex;
  margin-bottom: 20px;
}

.label {
  display: flex;
  align-items: center;
  width: 165px
}

.fieldContainer {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  max-width: 305px;
  padding-left: 15px;
}

.fieldProgressContainer {
  flex: 1 1 auto
}
